# Strings



    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String

In [1]:
# Single word
'hello ust'

'hello ust'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [2]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (Temp/ipykernel_33620/2053197537.py, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [5]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [7]:
# We can simply declare a string
'Hello UST GLOBAL'

'Hello UST GLOBAL'

In [9]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'# second one will update

'Hello World 2'

We can use a print statement to print a string.

In [11]:
print('Hello  friends')
print('welcome to python')
print('Use \n to print a new line') #\n --> to print a new line
print('\n')

Hello  friends
welcome to python
Use
 to print a new line


## String Basics

In [12]:
len('Hello World') #including spaces

11

## String Indexing

In [1]:
# Assign s as a string
s = 'Hello World'

In [5]:
s[::2] # taking 2 steps

'HloWrd'

In [14]:
s[1:3:1] # index 1 will include,index 3  will exclude,take 1 step

'el'

In [4]:
s[1:3:-1]

''

In [6]:
s[3:1:-1] # 1 will excluded ,3 included

'll'

In [11]:
#Check
s

'Hello World'

In [12]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [13]:
# Show first element (in this case a letter)
s[0]

'H'

In [14]:
s[1]

'e'

In [15]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [16]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [17]:
# Note that there is no change to the original s
s

'Hello World'

In [18]:
# Grab everything UP TO the 3rd index
s[:3] # doesn't inclide the 3rd index

'Hel'

In [19]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [20]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [21]:
# Grab everything but the last letter
s[:-1] #s[:10]

'Hello Worl'

In [22]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [23]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [24]:
# We can use this to print a string backwards
s[::-1] #reverse a string

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [8]:
s

'Hello World'

In [9]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [27]:
s

'Hello World'

In [28]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [29]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [30]:
print(s)

Hello World concatenate me!

In [31]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [32]:
letter = 'z'

In [33]:
letter*10 # value will repeated 10 times

'zzzzzzzzzz'

## Basic Built-in String methods

In [34]:
s

'Hello World concatenate me!'

In [35]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [36]:
# Lower case
s.lower()

'hello world concatenate me!'

In [37]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [38]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements.

In [39]:
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'